<div class="container">
  <div class="button-container">
    <button mat-fab color="primary" aria-label="delete">
      <mat-icon>keyboard</mat-icon>
    </button>
  </div>
  <div class="button-container">
    <button *ngIf="isrecording===false;" (click)="startrecording()"  mat-fab color="primary" aria-label="delete">
      <mat-icon>mic</mat-icon>
    </button>
    <button *ngIf="isrecording===true;" (click)="stoprecording()"  mat-fab color="secondary" aria-label="delete">
      <mat-icon>mic</mat-icon>
    </button>
  </div>
  <div class="button-container">
    <button mat-fab color="primary" aria-label="delete">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>
